@model IEnumerable<GameVault.Models.Jogo>

@{
    ViewData["Title"] = "List";
}

<h1>Meus jogos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model) {
        <partial name="_JogoPartial" for="@item" />
}
