@model IEnumerable<GameVault.Models.Jogo>

@{
	ViewData["Title"] = "List";
}
<div class="container">
	<h1>Meus Jogos</h1>

	<p>
		<a asp-action="Add">
			<button type="button" class="btn btn-outline-primary">Adicionar Jogo</button>
		</a>
	</p>
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-md-3 mb-3">
				<partial name="_JogoPartial" for="@item" />
			</div>
		}
	</div>
</div>


